.bar {
  bottom: 0;
  left: 0;
  right: 0;
  height: 94px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px 24px;
  align-items: center;
  grid-gap: Min(2.564vw, 10px);
  border-radius: 60px 60px 0px 0px;
  background: rgba(var(--bg-a),1.0);
  position: fixed;
  z-index: 90;
  max-width: 600px;
  margin: 0 auto;
 
  &__item {
    display: flex;
    justify-content: center;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    position: relative;
    height: 52px;
    width: 52px;
    border-radius: 100%;
    background: rgba(var(--bg-g),1.0);

    svg{
      width: 28px;
      height: 28px;
      fill: none;
      transition: all 0.2s ease;
    }

    &:hover {
      &:not(.active) {
        opacity: 0.9;
        svg {
          transform: translateY(-3px);
        }
      }
    }

    &.active{
      background: rgba(var(--bg-e),1.0);
    }
  }
}
