<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="Description" content="Gadalka">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gadalka</title>

  <link rel="preload" href="fonts/sf-pro-display.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-display-bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-display-medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Jeko-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/jeko-bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Commissioner-SemiBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Commissioner-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Commissioner-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Commissioner-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-text-semibold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Source-Code-Pro-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Source-Code-Pro-Semibold.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/swiper.css">
  
  <link rel="stylesheet" href="css/style.css">
</head>
