<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="Description" content="Astrify">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Astrify</title>

  <link rel="preload" href="fonts/SFProText-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SFProText-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-text-semibold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SFProText-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SFProText-Heavy.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-display-regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-display-bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/sf-pro-display-medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Sf-pro.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Lato-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Alegreya-Medium.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
