.miners-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 16px;
  background: rgba(var(--bg-h),1.0);
  border-radius: 12px;
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 228px;
    height: 90px;
    border-radius: inherit;
    z-index: -1;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: all 0.2s;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='228' height='90' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Crect width='245' height='47.167' x='61.976' y='-69' fill='%2319FB9B' rx='23.583' transform='rotate(15 61.976 -69)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='348.271' height='208.381' x='.063' y='-118.706' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_61_7138' stdDeviation='27.5'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    padding: 3px 3px 5px;

    @include gradient-border(var(--gradient-a), 1px);

    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 38px;
      height: 38px;
      border-radius: inherit;
      z-index: -1;
      background-position: bottom right;
      background-size: cover;
      background-repeat: no-repeat;
      pointer-events: none;
      transition: all 0.2s;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Crect width='35' height='35' x='-9' y='-15' fill='url(%23b)' rx='17.5'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='8.5' x2='8.5' y1='-15' y2='20' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2314F195'/%3E%3Cstop offset='1' stop-color='%239945FF'/%3E%3C/linearGradient%3E%3Cfilter id='a' width='75' height='75' x='-29' y='-35' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_61_7121' stdDeviation='10'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    }

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: rgba(var(--cl-a), 1);
    z-index: 5;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(var(--cl-a), 1);
  }
}
