.profile-form{
    display: flex;
    flex-direction: column;
    gap: 28px;

    &__field{
        display: flex;
        flex-direction: column;
        gap: 16px;

        p{
            color: rgba(var(--cl-b),1.0);
            font-style: normal;
            margin-bottom: 2px;
        }
    }

    &__date{
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        background: rgba(var(--bg-a),1.0);
        padding: 16px 29px;
        box-shadow: 0px 1px 12.1px 0px #CCC;
    }

    &__time{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 16px 29px;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        background:  rgba(var(--bg-a),1.0);
        box-shadow: 0px 1px 12.1px 0px #CCC;
    }

    &__title{
        color: rgba(var(--cl-m),1.0);
        font-family:var(--font-family);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
    }

    .main-btn{
        margin-top: 6px;
        align-self: center;
    }

    &__label{
        position: relative;
        z-index: 1;
    }

    &__area{
        margin-bottom: 8px;
        border-color: rgba(var(--bg-e),1.0);

        overflow: auto;

        &::-webkit-scrollbar {
            width: 5px;
            display: block;
          }
      
          &::-webkit-scrollbar-thumb {
            background-color: rgba(var(--cl-g), 1);
            border-radius: 18px;
          }
      
          &::-webkit-scrollbar-track {
            background: transparent;
          }
      
          &::-webkit-scrollbar-track-piece {
            margin: 20px 0;
          }
    }
}