.miners-section{
  padding: 42px 0 65px;
  min-height: 100dvh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  
  &::before{
    position: absolute;
    content: '';
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    width: 105%; 
    height:24%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='390' height='159' fill='none'%3E%3Cg clip-path='url(%23a)' filter='url(%23b)'%3E%3Cellipse cx='203' cy='20.5' fill='url(%23c)' rx='46.5' ry='233' transform='rotate(-90 203 20.5)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='c' x1='203' x2='203' y1='-212.5' y2='253.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2314F195'/%3E%3Cstop offset='1' stop-color='%239945FF'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h390v159H0z'/%3E%3C/clipPath%3E%3Cfilter id='b' width='610.667' height='237.667' x='-102.333' y='-98.333' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_61_7113' stdDeviation='36.167'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    pointer-events: none;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    filter: blur(5px);
  }

  .container {
    min-height: 100%;
  }

  .main-top{
    flex-direction: column;
    gap: 17px;
    margin: 0;

    &__title{
      max-width: 100%;
      font-size: 35px;
      line-height: 60%;
      text-align: center;
    }

    p{
      max-width: 100%;
      line-height: 100%;
      text-align: center;
    }

    &__image{
      align-self: center;
      position: static;
      width: 285px;
      height: 213px;
      transform: none;
      margin-top: -1px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - 65px - 42px);
    grid-gap: 22px;
    padding-bottom: clamp(20px, 9.167vw, 55px);
    position: relative;
    z-index: 1;
  }

  &__bottom{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -34px;
  }

  &__video{
    align-self: center;
    width: calc(100% + (var(--container-offset) * 2));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin:-30px 0 -35px;

    video{
      width: 100%;
      height: 100%;
      display: flex;
      height: 46dvh;

      @media (max-height: (700px)) {
        height: 44dvh;
      }
    }
  }
}
